fastapi
uvicorn
python-multipart
ultralytics==8.3.235
mediapipe==0.10.14
opencv-python-headless==4.12.0.88    #4.10.0.84
numpy==2.2.6
torch==2.5.1+cpu
--extra-index-url [https://download.pytorch.org/whl/cpu](https://download.pytorch.org/whl/cpu)
keyboard==0.13.5
# torch==2.5.1+cu121







